body {
    /*font-family: GillSans, Calibri, Trebuchet, sans-serif;*/
    font-family: 'Varela', sans-serif;
  }
.green-box{
    border-bottom: 2px inset;
}
#map {
    height: 400px;
    width: 100%;
}
.row {
    margin-bottom: 0;
}
header .brand-logo{
    font-family: 'Amita', cursive;
    font-size:3.1rem;
    padding-left:10px;
    line-height:4.1rem;
}
#headerSearch .input-field{
    border-bottom: black;
}
.nav-wrapper {
    margin-left: -.75rem;
    margin-right: -.75rem;
}
input#city{
    border-bottom: white 1px solid;
}
input#restaurant{
    border-bottom: white 1px solid;
}
.input-field{color:black;}
.select-wrapper input.select-dropdown {
    color: white;
    border-bottom: white 1px solid;
}
#txtEmailLogin, #txtPasswordLogin  { font-size:0.5rem;
    border-bottom: white 1px solid;
    color: white;   
}
#txtForgotEmail, #pwForm {
    border-bottom: white 1px solid;
    color: white; 
}
#modal1, #modal2, #modalTabs {
    color: white;
    background-color: #aed581;
}
#modalTabsDelete {
    color:black;
}
.modal-footer{
    /* color: #66bb6a; */
    background-color:#7cb342 !important;
}
.modal .modal-content{
    margin:auto;
}
.modal, div#modalTabs
{
    background-color:pink;
    bottom:auto !important;
    top:10px;
}
#modalLogin{
    width:fit-content;
}
#txtForgotEmail {
    color: white;
}

.tabMar{
    max-width:86px !important;
}

#modalBtn {font-size:.7rem;}
#modalBtn2 {font-size:.7rem;}
#modalBtnAddTab, #modalBtnDeleteTab{
    padding:3px 5px;
    height:28px;
}
#hiUser{ padding:7px;
    font-size:1.1rem;
    text-align: center;}

.waves-effect.waves-blue{
    /* The alpha value allows the text and background color
    of the button to still show through. */
     background-color: rgba(59, 38, 175, 0.65);
   }

.cuisineOptionBox{
    font-size:16px;
    color:#26a69a;
    display:block;
    line-height:22px;
    padding:14px 16px;
}
.searchDiv{
    margin-top:20px;
}

div#photo.row{
    background-color:#fa971e;
    border-left: 3px solid whitesmoke;

}
img.responsive-img{
    max-height:200px;
}

.hearthold { background-color: pink; 
    margin-left: auto;
    margin-right: auto;
}
div#listingDetails.row{
    padding: 15px 3px 3px 3px;
    min-height:150px;
    background-color:#fa971e;
    text-align: center;
    border-left: 3px solid whitesmoke;

}
#restaurants-big{
    min-height:50px;
    font-size: 1.5em;
    margin:auto;
}
#restaurant-photo, #restaurant-info{
    margin:auto;
}
#restaurant-info{
    clear:both;
}
div#notes.row{
    min-height:150px;
    background-color:#ffab80;
    border-top:1px solid grey;
}

div#displayNotes.row{
    height:150px;
    background-color:#fa971e;
    border-top:1px dotted white;
    padding: 5px;
    border-left: 3px solid whitesmoke;
    overflow: auto;
}


div#notesOz.row{
    min-height:150px;
    background-color:#fa971e;
    border-top:1px solid white;
    padding: 5px;
    border-left: 3px solid whitesmoke;
    /* align-items: center; */
    /* display:flex;
    align-content: center; */
    position:relative;  
}
#userNotes{
    /* display:flex;
    align-content: center; */
    margin:auto;
}
#notesLabel{
    color:black;
}

#modalBtnTab {
    /* font-size: 1.5em; */
    color: #f2453d;
}
.notesToBeAdded{
    /* background-color:#7cb342; */
}
.tabs{
    background-color:#aed581;
}
.tabs .tab a{
    font-size:15px;
    padding:0;
}
.tabs :hover{
    background-color:#9ccc66;
}
#modalBtnNotes{
    margin-top: -25px;
}
.btn{
    background-color:#2a2659;
}
#topLoginBlock {
    width: 300px;
}
#txtEmail, #txtPassword  { 
    background-color:#aed581;
    font-size:1rem;
    border-bottom: white 1px solid;
    color: white;   
}
h4{
    color:black;
    font-size:20px;
}